<div id="todo_list">
    <form class="sortable" hx-post="{% url 'todo:rerank' %}" hx-trigger="end">
    {% for todo in todos %}
        <div
                id="todo_{{todo.pk}}"
                class="clickable"
                hx-get="{% url 'todo:todo_details_partial' todo.pk %}"
                hx-trigger="click"
                hx-target="this"
                hx-swap="outerHTML">
            <div>{{todo.rank}} - {{todo.title}}({{todo.pk}})</div>
            <input type="hidden" name="todo_order" value="{{todo.pk}}" />
        </div>
    {% endfor %}
    </form>
</div>
